@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

*{
    margin:0,
    padding:0
}
body{
    background-color:black
}
.profile:hover{
    color:gray,
    background-color:black    
}